* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}


h1 {
    color:#fff;
    text-align: center;
    font-size: 30px;
}

.form_log {
    width: 100%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
    opacity: 0.9;
    height: 500px;
}

.title {
    background: #fff;
    color: teal;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


.contenedor {
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input {
    margin-bottom: 10px;
    padding: 15px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: teal;
}

.input-100 {
    width: 100%;
}

.btn-face {
    margin: auto;
    padding: 10px 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-radius: 7px;
    opacity: 1;
    color:white;
    background: #3b5998;
}

.botones {
    display: inline;
}

.btn_ing {
    margin: auto;
    padding: 10px 40px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-radius: 7px;
    color:white;
    background: #2d572c;
    cursor: pointer;
    margin:10%;
    margin-top: 2%;
    margin-left: 35%;
}

.olv_contr {
    color: blue;
    font-size: 12px;
    cursor: pointer;
    margin-left: 28%;
    margin-top: -4%;
}