{% extends 'index.html' %}

{% block title %} Login {% endblock %}
{% block content %}
{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="es">
 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/style_login_us.css' %}">
        <script src="{% static 'js/add_us.js' %}"></script>
    </head>

    <body background="{% static 'img/perroconropa.jpg' %}">
        <h1>Ingrese a su cuenta</h1>
        <form class="form_log" action="{% url 'Login' %}" method="POST" > {% csrf_token %}
            <h2 class="title">Iniciar Sesión</h2>
            <div class="contenedor">
                <label>Usuario</label>
                <input class="input-100" placeholder="Ingrese su nombre de usuario..."
                {{form.username}} 
                <label>Contraseña</label>
                <input class="input-100" placeholder="Ingrese su contraseña..."
                {{form.password}}
                
                
                <a class="olv_contr" href="{% url 'Menu:index' %}"><u>¿Olvidaste tu contraseña?</u></a>
                <a class="btn btn-face" href="{% provider_login_url "facebook" method="oauth2" %}"><img src="{% static 'img/facebook.png' %}" height="25" width="25"> Login with facebook</a>
                <button type="submit" class="btn_ing">Ingresar</button>
            </div>
        </form> 
    </body>

</html>

{% endblock %}

{% block footerbase %}

{% endblock %}