body {
    margin: 0;
}

.barra, .img_logo {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background: #85D4B7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
}

#logo {
    height: 50px;
    margin: 10px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
    margin: 0px;
}

nav {
    margin-top: 0px;
    margin-right: 10%;
}

nav > a:hover , .btn_log:hover, .btn_log:focus, .dropbtn:hover {
    background-color: rgb(102, 163, 141)
}

.dropbtn {
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    background: #85D4B7;
}

.btn_log {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background: #85D4B7;
    color: white;
    padding: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display: block;}

dropdown a:hover {background-color: #ddd;}

.contenedor-slider img {
    position: absolute;
    display: flex;
    width: 100%;
}

* {box-sizing:border-box}


img {vertical-align: middle;}

.adop {
    width: 100%;
    height: 550px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 20%;
    text-align: center;
    margin-left:40px;
    margin-bottom:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#inf_contacto {
    height: 70px;
    padding-left: 30px;
    padding-right: 40px;
    background:#85D4B7;
    margin-top: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
}

#icface, #icinsta, #icgoogle, #icgmail{
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border-radius: 100px;
    padding: 5px;
    margin:2px;
}

i:hover {
    text-shadow: 0 0 3px rgb(56, 87, 75);
}

.articulos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

article{
    flex-grow: 1;
    margin:30px;
    width:50%;
}

hr{
    width: 50px;
}

.articulo1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

article>img {
    width: 200px;
}

#articulo1>hr{
    margin-right: 0px;
}

#articulo1>img{
    margin-right: 0px;
}

article>h1{
    font-size: 2em;
    margin-bottom: 0px;
}

article>h2{
    font-size: 1em;
    margin-top: 0px;
}

.galeria {
    background: white;
    width: 80%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
}

.galeria>img{
    width: 200px;
    margin: 10px;
}

.galeria>div>img {
    width: 200px;
    margin: 10px;
}


.container {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    opacity: 0.9;
}

.container:hover .overlay {
    height: 100%;
}

.text2 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.footerbase {
background-color: #E6E6E6;
height: 50px;
display: flex;
padding-left: 30px;
}

/*Móvil*/
@media (max-width:900px) {
    .barra {
        flex-direction:column;
        width:100%;
        padding: 0;
    }

    nav {
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        background-color: rgb(122, 190, 165);
        margin:0px;
    }

    .adop {
        width: 100%;
		height: 200px;
    }

    nav>a:nth-child(n)
    {
        align-self: center;
        text-align: center;
        width: 100%;
        border-bottom: white 1px solid;
    }

    .text{
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: 200px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }
             
    .celular, .descripcion {
        display:none;
    }


    #inf_contacto {
        margin-top: 200px;
        display: flex;
        justify-content: center;
    }

    .articulos{
        display:flex;
        flex-direction: column;
    }

    .galeria {
        max-height: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .image{
        width:100%;
    }
}

.slid{
    padding: 0;
}