{% extends 'index.html' %}

{% block title %} Modificar Mascotas {% endblock %}

{% block content %}
{% load static%}
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/style_upd_mas.css' %}">
    </head>

    <body background = {% static 'img/Fot.jpg' %}>
        <h1>Modifica la mascota</h1>
            <form class="form_reg" method="POST" action="" enctype="multipart/form-data" > {% csrf_token %}
              <h2 class="title">Modificar mascota</h2>
                <div class="contenedor">
                    {{form.nombre}}
                    {{form.raza}}
                    {{form.foto}}
                    {{form.descripcion}}
                    {{form.estado}}
                    <input class="btn_reg" type="submit" value="Registrar">
                </div>
            </form>
    </body>

</html>
{% endblock %}

{% block footerbase %}
{% endblock %}