{% extends 'index.html' %}

{% block title %} Registro Máscota {% endblock %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="{% static 'js/add_mas.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/style_add_mas.css' %}">
    </head>

    <body background="{% static 'img/Fot.jpg' %}">
        <h1>Formulario Registro</h1>
        <form class="form_reg" method="POST" action="" enctype="multipart/form-data" > {% csrf_token %}
            <h2 class="title">Registra una mascota</h2>
                <div class="contenedor">
                    <input class="input-100" name="nombre" type="text" placeholder="Nombre mascota..." pattern="[A-za-Z]" onkeypress="return validatexto(event)" required autofocus>
                    <input class="input-50" name="raza" type="text" placeholder="Raza predominante..." pattern="[A-za-Z]" onkeypress="return validatexto(event)" required>
                    <input class="input-50" name="foto" type="file" placeholder="Foto"  required>
                    <input class="input-100" name="descripcion" type="text" placeholder="Descripción" required>
                    {{form.estado}}
                    <input class="btn_reg" type="submit" value="Registrar">
                </div>
        </form>
    </body>

</html>

{% endblock %}

{% block footerbase %}

{% endblock %}