{% extends 'index.html' %}

{% block title %} Adopta una mascota {% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/style_list_mas.css' %}">
    </head>

    <body background={% static 'img/Feliz.jpg' %}>
        <h1>Lista de perros</h1>
        <div class="tabla-content">
            <table class="tabla">
                <tr>
                    <th>Nombre</th>
                    <th>Raza Predominante</th>
                    <th>Foto</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Adoptar</th>
                </tr>
                {% if perros %}
                {% for alguno in perros %}
                <tr>
                    <td>{{alguno.nombre}}</td>
                    <td>{{alguno.raza}}</td>
                    <td><img src="{{alguno.foto.url}}" width="60" height="60"></img></td>
                    <td>{{alguno.descripcion}}</td>
                    <td>{{alguno.estado}}</td>
                    <td><a class="btn btn-modificar" href="{% url 'Mascota:Adoptar_mascota' alguno.id %}">Adoptar</a></td>
                </tr>
                {% endfor %}
                {% else %}
                    <h1>No hay mascotas disponibles para adoptar</h1>
                {% endif %}
            </table>    
        </div>
    </body>

</html>

{% endblock %}

{% block footerbase %}

{% endblock %}