{% extends 'index.html' %}

{% block title %} Eliminar Máscota {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_del_mas.css' %}">
    <body background={% static 'img/feliz.jpg' %}>
        <form method="POST">
            {% csrf_token %}
            <h1>¿Está seguro(a) que desea eliminar a {{mascota.nombre}}?</h1>
            <div class="botones">
                <button class="btn btn-eliminar" type="submit">Sí, eliminar</button>
                <a class="btn btn-default" href="{% url 'Mascota:Listado_mascota' %}">Cancelar</a>
            </div>
        </form>
    </body>
{% endblock %}

{% block footerbase %}
{% endblock %}