{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="es">

    <head>
        {% progressive_web_app_meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/slide.js' %}"></script>
        <title>{% block title%} Mis Perris {% endblock %}</title>
    </head>

    <body onload="showSlides(1)">
        {% block navegador %}
        <div class="barra">
            <header class="img_logo"> 
                <div>
                   <a href="{% url 'Menu:index' %}"><img id="logo" src="{% static 'img/logo.png' %}"> </a>
                </div>
            </header>
            <nav>
                {% if user.username %} 


                    {% if user.is_superuser%}
                        
                        <a href="{% url 'Menu:index' %}">Inicio</a>
                        <a href="{% url 'Usuario:Formulario_usuario' %}">Registro Usuario</a>
                        <a href="{% url 'Mascota:Formulario_mascota' %}">Agregar mascota</a>
                        <a href="{% url 'Mascota:Listado_mascota' %}">Listar mascota</a>
                        <a href="/misperrisApi">API</a>

                    {% else %}
                    
                    <a href="{% url 'Menu:index' %}">Inicio</a>
                    <a href="{% url 'Menu:index' %}">Servicios</a>
                    <a href="{% url 'Menu:index' %}">¿Quiénes somos?</a>
                    <a href="{% url 'Mascota:Listado_adopcion_mascota' %}">Adopta</a>

                    {% endif %}
                    
                    <a href="{% url 'Logout' %}">Salir</a>
                {% else %}
                    
                    <button onclick="Drop()" class="btn_log dropbtn">Log In</button>
                    <div id="mydropdown" class="dropdown-content">
                        <a href="{% url 'Login' %}">Ingresar</a>
                        <a href="{% url 'Usuario:Formulario_usuario' %}">Registro</a>
                    </div>
                    <a href="{% url 'Menu:index' %}">Inicio</a>
                    <a href="{% url 'Menu:index' %}">Servicios</a>
                    <a href="{% url 'Menu:index' %}">¿Quiénes somos?</a>
                    <a href="{% url 'Menu:index' %}">Contáctanos</a>
                    
                {% endif %}
            </nav>
        </div>
        {% endblock %}

        {% block content %}
        <div class="contenedor-slider">
            <div class="slide fade">
                <div class="imagen1">
                    <img class="adop" src="{% static 'img/slide/Apolo.jpg' %}">
                </div>
                <div class="text">Desde que él llegó a nuestras vidas todo ha sido mejor</div>
            </div>
            <div class="slide fade">
                <div class="imagen2">
                    <img class="adop" src="{% static 'img/slide/Duque.jpg' %}" alt="">
                </div>
                <div class="text">Ahora no me siento solo gracias a mi perrito</div>
            </div>
            <div class="slide fade">
                <div class="imagen3">
                    <img class="adop" src="{% static 'img/slide/Tom.jpg' %}" alt="">
                </div>
                <div class="text">Nos encantó Nuestro perro</div>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>  
        <section>
            <div id="inf_contacto">
                <div class="celular">
                    <p>+56 9 9876 5431</p>
                </div>
                <div class="descripcion">
                    <p>Rescate y adopción de perros callejeros</p>
                </div>
                <div class="redes">
                    <img id="icface" src="{% static 'img/icons/facebook.png' %}"></img>
                    <img id="icgoogle" src="{% static 'img/icons/google.png' %}"></img>
                    <img id="icinsta" src="{% static 'img/icons/instagram.png' %}"></img>
                    <img id="icgmail" src="{% static 'img/icons/correo.png' %}"></img>
                </div>
            </div>
        </section>

        <section class="articulos">
            <article class="articulo1">
                <h1>RESCATE</h1>
                <h2>ETAPA 1</h2>
                <hr>
                <p>Rescatamos perros en situación de peligro. Los rehabilitamos y los preparamos para buscarles un hogar</p>
                <img src="{% static 'img/articulos/perritoart1.png' %}">
            </article>

            <article class="articulo2">
                <img src="{% static 'img/articulos/perritoart2.png' %}">
                <h1>CROWFUNDIG</h1>
                <h2>FINANCIAMIENTO</h2>
                <hr>
                <p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener financimiento para seguir ayudando</p>
            </article>
        </section>

        <div class="galeria">
            <div class="container">
                <img src="{% static 'img/rescatados/Bigotes.jpg' %}" class="image">
                <div class="overlay">
                    <div class="text2">
                        Me llamo Bigotes y me encanta jugar
                    </div>
                </div>
            </div>
            <div class="container">
                <img src="{% static 'img/rescatados/Wifi.jpg' %}" class="image">
                <div class="overlay">
                    <div class="text2">
                        Me dicen wifi y soy tímido
                    </div>
                </div>
            </div>
            <div class="container">
                <img src="{% static 'img/rescatados/Chocolate.jpg' %}" class="image">
                <div class="overlay">
                    <div class="text2">
                    Soy Chocolate y tengo una linda mirada
                    </div>
                </div>
            </div>
            <div class="container">
                <img src="{% static 'img/rescatados/Luna.jpg' %}" class="image">
                <div class="overlay">
                    <div class="text2">
                        Hola, me llamo Luna y soy recién nacida
                    </div>
                </div>
            </div>
            <div class="container">
                <img src="{% static 'img/rescatados/Pexel.jpg' %}" class="image">
                <div class="overlay">
                    <div class="text2">
                    Mi dueño me llama Pexel y soy feliz            
                    </div>
                </div>
            </div>
            <div class="container">
                <img src="{% static 'img/rescatados/Maya.jpg' %}" class="image">
                <div class="overlay">
                    <div class="text2">
                        Soy Maya y soy pequeñita
                    </div>
                </div>
            </div>
            <div class="container">
                <img src="{% static 'img/rescatados/Oso.jpg' %}" class="image">
                <divo class="overlay">
                    <div class="text2">
                        Soy juguetón con los niños y me apodan Oso
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block footerbase %}
        <footer class="footerbase">
            <p>Desarrollo Web y Mobile</p>
        </footer>
        {% endblock %}
    </body>
</html>