* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    color:teal;
    text-align: center;
}

.botones {
    margin-left: 44%;
}


.btn {
    border: none;
    padding: 8px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-radius: 7px;
    cursor: pointer;    
    color: white;
}

.btn-eliminar {
    background: rgb(172, 36, 36);
}

.btn-default {
    background: gray;
}