* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    color: teal;
    text-align: center;
}

.tabla {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    height: auto;
    text-align: center;
    opacity: 0.7;
    background: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-radius: 7px;
}

th {
    text-align: center;
    padding: 8px;
}

.tabla-content {
    margin-top: 3%;
    position: relative;
}

.btn {
    border: none;
    padding: 8px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-radius: 7px;
    cursor: pointer;    
    color: white;
}

.btn-modificar {
    background: green;
}

.btn-eliminar {
    background: red;
}