* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    color:#fff;
    text-align: center;
}

.form_reg {
    width: 100%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
    opacity: 0.88;
}

.title {
    background: #fff;
    color: burlywood;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.contenedor {
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input, select {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid darkgray;
}

.input-50 {
    width: 48%;
}

.input-100 {
    width: 100%;
}

.btn_reg {
    background: green;
    margin: auto;
    padding: 10px 40px;
}