{% extends 'index.html' %}

{% block title %} Contáctanos {% endblock %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/style_add_us.css' %}">
        <script src="{% static 'js/add_us.js' %}"></script>
        <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
        <script src="{% static 'js/jquery.validate.js' %}"></script>
        <script src="{% static 'js/Form.js' %}"></script>
    </head>

    <body background="{% static 'img/corriendo.jpg' %}">
        <h1>Formulario de Registro</h1>
        <form id="mi-formulario" class="form_reg" action="" method="POST" > {% csrf_token %}
            <h2 class="title">Crea tu cuenta</h2>
            <div class="contenedor">
                <input class="input-100" type="text" name="rut" placeholder="Rut..." oninput="checkRut(this)" required autofocus>
                <input class="input-100" type="text" name="nombre" placeholder="Nombre completo..." pattern="[A-za-Z]" onkeypress="return validatexto(event)" required>
                <input id="telefono" class="input-50" type="password" name="telefono" placeholder="Ingrese Contraseña..." required>
                <input id="pass2" class="input-50" type="password" name="pass2" placeholder="Confirme Contraseña..." required>
                <input class="input-50" type="email" name="correo" placeholder="Correo electrónico..." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                <input class="input-50" type="date" name="nacimiento" max="2001-01-01" placeholder="Fecha nacimiento" required> 
                <select class="input-50" name="region" required>
                    <option value="I de Tarapacá">I de Tarapacá</option>
                    <option value="II de Antofagasta">II de Antofagasta</option>
                    <option value="III de Atacama">III de Atacama</option>
                    <option value="IV de Coquimbo">IV de Coquimbo</option>
                    <option value="V de Valparaíso">V de Valparaíso</option>
                    <option value="VI del Libertador General Bernardo O'Higgins">VI del Libertador General Bernardo O'Higgins</option>
                    <option value="VII del Maule">VII del Maule</option>
                    <option value="VIII del Bío Bío">VIII del Bío Bío</option>
                    <option value="IX de la Araucanía">IX de la Araucanía</option>
                    <option value="X de los Lagos">X de los Lagos</option>
                    <option value="XI Aisén del General Carlos Ibáñez del Campo">XI Aisén del General Carlos Ibáñez del Campo</option>
                    <option value="XII de Magallanes y Antártica Chilena">XII de Magallanes y Antártica Chilena</option>
                    <option value="XIV de los Ríos">XIV de los Ríos</option>
                    <option value="XV de Arica y Parinacota">XV de Arica y Parinacota</option>
                </select>
                <select class="input-50" name="comuna" required>
                    <option value="Santiago">Santiago</option>
                    <option value="Concepción">Concepción</option>
                    <option value="Viña del mar">Viña del Mar</option>
                </select>
                <select class="input-50" name="vivienda" required>
                    <option value="cas_cpg">Casa con patio grande</option>
                    <option value="cas_cpp">Casa con patio pequeño</option>
                    <option value="cas_sp">Casa sin patio</option>
                    <option value="dep">Departamento</option>
            </select>
                <button class="btn_reg" type="submit"> Registrar </button>
            </div>
        </form> 
        <script>
            $(document).ready(function(){
                $("button").click(function(){
                    $("#mi-formulario").validate();
                })
            })
        </script>
    </body>
    
</html>
{% endblock %}

{% block footerbase %}

{% endblock %}